{% extends 'base.html.twig' %}

{% block title %}Modifier votre mot de passe - Graphix{% endblock %}

{% block content %}
    <h1>Modifier mon mot de passe</h1>
    <a href="{{ path('account') }}">Retourner sur votre compte</a>
    {% if notification %}
        <div class="alert alert-info">{{ notification }}</div>
    {% endif%}
    {{ form(form) }}
{% endblock %}
